body {
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    margin: 10%;
    border: 2px solid black;
    border-radius: 20px;
    width:300px;
    height: 440px;
    justify-content: flex-start;
    padding: 20px;
    background-color: dimgray;
    box-shadow: 5px 10px 10px black;
}

.display {
    border: solid 2px black;
    margin-bottom: 15px;
    padding:20px;
    border-radius: 10px;
    font-size: 35px;
    background-color: azure;
    display: flex;
    justify-content: flex-end;
    min-height: 40px; 
}

.calcbtn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

button {
    height: 65px;
    border-radius: 50%;
    border: 2px solid
} 

.clear:hover {
    background-color: lightcoral;
}

button:hover {
    transform: translateY(-0.2rem);
    filter: brightness(125%);
}

.equal {
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 2.5em;
    background-color: orange;
}

.digits {
    background-color: seagreen;
}

.operators {
    background-color: orange;
}

.operators:focus {
    background-color: orange;
    filter: brightness(125%);
}

.top-row {
    background-color: lightblue;
}